#get-started{
    .box-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 80px;

        div{
            @extend %box-item;

            img{
                @extend %box-image;
            }

            h3{
                @extend %box-heading;
            }

            p{
                @extend %box-text;
            }

            a{
                color: $dark-color;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 2px;
                transition: color 0.3s;

                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}